@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));


/* Hide scrollbar for Tailwind's scrollbar-hide utility */
.scrollbar-hide::-webkit-scrollbar {
    display: none;
}
.scrollbar-hide {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}